{% extends "base.html" %}
{% block content %}
<div class="card">
    <h2>Zoznam vozidiel</h2>

    <a href="{% url 'frontend:vehicle_create' %}" class="btn btn-primary" style="margin: 1rem 0; display:inline-block;">
        + Pridať vozidlo
    </a>

    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>ŠPZ</th>
                    <th>Typ</th>
                    <th>Kapacita</th>
                    <th>Akcie</th>
                </tr>
            </thead>
            <tbody>
                {% for vehicle in vehicles %}
                    <tr>
                        <td>{{ vehicle.registration_number }}</td>
                        <td>{{ vehicle.get_vehicle_type_display  }}</td>
                        <td>{{ vehicle.capacity }}</td>
                        <td>
                            <a href="{% url 'frontend:vehicle_update' vehicle.pk %}" class="btn btn-sm btn-primary">Upraviť</a>
                            <a href="{% url 'frontend:vehicle_delete' vehicle.pk %}" class="btn btn-sm btn-danger">Zmazať</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">Žiadne vozidlá.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}