{% extends "base.html" %}
{% block content %}
<div class="card">
    <h2>Zoznam spojov</h2>

    <a href="{% url 'trip_create' %}" class="btn btn-primary" style="margin: 1rem 0; display:inline-block;">
        + Pridať spoj
    </a>

    <div class="table-wrapper">

    <table class="table">
        <thead>
            <tr>
                <th>routeID</th>
                <th>startStopID</th>
                <th>endStopID</th>
                <th>departureTime</th>
                <th>arrivalTime</th>
                <th>Akcie</th>
            </tr>
        </thead>
        <tbody>
            {% for trip in trips %}
            <tr>
                <td>{{ trip.routeID }}</td>
                <td>{{ trip.startStopID }}</td>
                <td>{{ trip.endStopID }}</td>
                <td>{{ trip.departureTime }}</td>
                <td>{{ trip.arrivalTime }}</td>
                <td class="flex">
                    <a class="btn btn-outline" href="{% url 'trip_update' trip.id %}">Upraviť</a>
                    <a class="btn btn-outline" href="{% url 'trip_delete' trip.id %}">Zmazať</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}