{% extends "base.html" %}
{% block content %}
<div class="card">
    <h2>Zoznam liniek</h2>

    {% if user.is_staff or user.is_superuser %}
        <a href="{% url 'frontend:route_create' %}" class="btn btn-primary" style="margin: 1rem 0; display:inline-block;">
            + Pridať linku
        </a>
    {% endif %}

    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>Číslo linky</th>
                    <th>Názov</th>
                    <th style="text-align: center;">Akcie</th>
                </tr>
            </thead>
            <tbody>
                {% for route in routes %}
                    <tr>
                        <td><strong>{{ route.name }}</strong></td>
                        <td>{{ route.start_stop.name }} → {{ route.end_stop.name }}</td>
                        
                        <td style="text-align: center;">
                            <div style="display: flex; gap: 0.5rem; justify-content: center;">
                                {% if user.is_staff or user.is_superuser %}
                                    <a href="{% url 'frontend:route_update' route.pk %}" 
                                       class="btn btn-sm btn-outline">
                                        Upraviť
                                    </a>
                                    <a href="{% url 'frontend:route_delete' route.pk %}" 
                                       class="btn btn-sm btn-outline" 
                                       style="color: #dc3545; border-color: #dc3545;">
                                        Zmazať
                                    </a>
                                    <a class="btn btn-sm btn-primary" 
                                       href="{% url 'frontend:route_stops_manage' route.id %}">
                                       Spravovať trasu
                                    </a>
                                {% else %}
                                    <a href="{% url 'frontend:route_detail' route.pk %}" 
                                        class="btn btn-sm btn-primary">
                                        Zobraziť trasu
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3" style="text-align: center; color: #999;">Žiadne linky.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}