{% extends "base.html" %}
{% block content %}
<div class="card">
    <h2>Zoznam Liniek</h2>

    <a href="{% url 'route_create' %}" class="btn btn-primary" style="margin: 1rem 0; display:inline-block;">
        + Pridať linku
    </a>

    <div class="table-wrapper"> 
        <table class="table">
            <thead>
                <tr>
                    <th>Názov Linky</th>
                    <th>Typ Dopravy</th>
                    <th>Akcie</th>
                </tr>
            </thead>
            <tbody>
                {% for route in routes %}
                <tr>
                    <td>{{ route.name }}</td>
                    <td>{{ route.get_type_display }}</td> 
                    <td class="flex">
                        <a class="btn btn-outline" href="{% url 'route_update' route.id %}">Upraviť</a>
                        <a class="btn btn-outline" href="{% url 'route_delete' route.id %}">Zmazať</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> 
</div>
{% endblock %}