{% extends "base.html" %}
{% block content %}
<div class="card">
    <h2>Zoznam líniek</h2>

    <a href="{% url 'frontend:route_create' %}" class="btn btn-primary" style="margin: 1rem 0; display:inline-block;">
        + Pridať linku
    </a>

    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>Číslo linky</th>
                    <th>Názov</th>
                    <th>Akcie</th>
                </tr>
            </thead>
            <tbody>
                {% for route in routes %}
                    <tr>
                        <td>{{ route.name }}</td>
                        <td>{{ route.start_stop.name }} → {{ route.end_stop.name }}</td>
                        <td>
                            <a href="{% url 'frontend:route_update' route.pk %}" class="btn btn-sm btn-primary">Upraviť</a>
                            <a href="{% url 'frontend:route_delete' route.pk %}" class="btn btn-sm btn-danger">Zmazať</a>
                            <a class="btn btn-secondary" href="{% url 'frontend:route_stops_manage' route.id %}">Trasa</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">Žiadne linky.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}