{% load static %}
<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Verejná Doprava{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <header>
        <div class="container">
            <h1>Verejná Doprava</h1>
            <nav>
                <a href="{% url 'home' %}">Hľadanie Trasy</a>
                <a href="{% url 'stop_list' %}">Zastávky (Stops)</a>
                <a href="/admin/">Správa dát (Admin)</a>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block content %}
            {% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>2025 VAII - Semestrálna práca</p>
            <p>Katarína Žiaková</p>
        </div>
    </footer>
    
    {% block extra_js %}
    {% endblock %}

</body>
</html>